@page "/"

@using Microsoft.AspNetCore.Components.Forms
@using Bastion.Core.Domain.UserInputSecret;
@using Bastion.Core.Domain.UserInputSecret.Dto;
@using Bastion.Core.Domain.UserInputSecret.Pipelines;
@using Bastion.Core.Domain.Encryption;
@using Bastion.Core.Domain.Encryption.Pipelines;
@using Bastion.Core.Domain.Decryption;
@using Bastion.Core.Domain.Decryption.Pipelines;
@using Bastion.Models;
@using Microsoft.Identity.Web.UI;
@using Microsoft.Identity.Web
@using Microsoft.Graph
@using System.Security.Claims;
@using BootstrapBlazor.Components;
@using System.Diagnostics.CodeAnalysis;
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@inject Microsoft.Identity.Web.ITokenAcquisition TokenAcquisitionService
@inject CopyToClipboardManager ClipBoardManager

<PageTitle>Bastion</PageTitle>

<AuthorizeView>
    <Authorized Context="Auth">
        <h1>Encrypt a secret and share it with a person of your choice</h1>
        @if (userInfo == null || users == null)
        {
            <div>Loading..</div>
        }
        else
        {
            <EditForm Model="@userInputModel" OnSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>
                    <label>
                        <InputTextArea id="plaintext" @bind-Value="authUserInputModel.SecretPlaintext" />
                    </label>
                </div>
                <br /> <br />
                Receivers:
                <div class="container">
                        <div class="receivers">
                        <MultiSelect Items="@Items" @bind-Value="@authUserInputModel.OIDReceiver" ShowSearch="true" OnSearchTextChanged="@OnSearch" />
                        </div>
                        <div>
                            <Button Icon="fa-regular fa-trash-can" Text="Clear" OnClick="@ClearItems" />
                        </div>
                </div>
                <div>
                    <br />
                    <label>
                        Lifetime: <br />
                        <InputRadioGroup Name="radioGroup" @bind-Value="userInputModel.Lifetime">
                            <InputRadio Value="1" /> 1 hour
                            <InputRadio Value="8" /> 8 hours
                            <InputRadio Value="24" /> 24 hours
                        </InputRadioGroup>

                    </label>
                    <br /><br />
                    <button class="btn btn-primary" type="submit">Encrypt</button>
                </div>
            </EditForm>

            <br />

            <h1>Share the encrypted secret</h1>
            <div>
                <Button Icon="fa-regular fa-clipboard" Text="Copy one-click link" OnClick="@CopyToClipboard" />

                <br /> <br />
                @if (id != Guid.Empty)
                {
                    <div>@url</div>
                }
                else
                {
                    <div>@message</div>
                }

                @if (!DisplayAlert)
                {
                    <div class="alert alert-danger fade-in alerts" role="alert">
                        Error storing secret
                    </div>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized Context="Auth">
        <h1>Encrypt a secret</h1>

        <EditForm Model="@userInputModel" OnSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>
                <InputTextArea id="plaintext" @bind-Value="userInputModel.SecretPlaintext"/>
            </label>
            <br/> <br/>
            <div>
            <label>
                Lifetime: <br />
                <InputRadioGroup Name="radioGroup" @bind-Value="userInputModel.Lifetime">
                    <InputRadio Value="1"/> 1 hour 
                    <InputRadio Value="8"/> 8 hours 
                    <InputRadio Value="24"/> 24 hours
                </InputRadioGroup>
            </label>
            <br/><br/>
            <button class="btn btn-primary" type="submit">Encrypt</button>
            </div>
        </EditForm>

        <br/>

        <h1>Share the encrypted secret</h1>
        <div>
            <Button Icon="fa-regular fa-clipboard" Text="Copy one-click link" OnClick="@CopyToClipboard" />

            <br/> <br/>
            @if (id != Guid.Empty)
            {
                <div>@url</div>
            }
            else 
            {
                <div>@message</div>
            }

            @if (!DisplayAlert)
            {
                <div class="alert alert-danger fade-in alerts" role="alert">
                    Error storing secret
                </div>
            }

        </div> 
    </NotAuthorized>
</AuthorizeView>


@code {
    // Rretrieve web app environment variables/local secrets
    [Inject]
    private IConfiguration Configuration { get; set; }

    // Input models
    private UserInputModel userInputModel = new();
    private AuthUserInputModel authUserInputModel = new();

    // Default values
    private Guid id = default;
    private string url = "";
    string message = "";

    // Variables used for authenticated users
    bool authenticated;

    IGraphServiceUsersCollectionPage? users;
    User? userInfo;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    // Alert boolean 
    [Parameter]
    public bool DisplayAlert { get; set; } = true;

    // Setup of multiselect component input for receivers
    [NotNull]
    private List<SelectedItem>? Items { get; set; }

    [NotNull]
    private List<SelectedItem>? DataSource { get; set; }

    // Setup of search bar in multiselect component
    private List<SelectedItem>? SearchItemsSource { get; set; } 

    // Run at initialization of page
    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        authenticated = user.Identity?.IsAuthenticated ?? false;

        // If a user is logged in to the web application
        if (authenticated)
        {
            try
            {
                // Validate claims tenant and issuer
                string issuer = "";
                claims = user.Claims;

                foreach (Claim claim in claims)
                {
                    issuer = claim.Issuer;
                    break;
                }
                string? tenantId = user.GetTenantId();

                string TenantId = Configuration["TenantId"];
                string Issuer = Configuration["Issuer"];

                if (tenantId != TenantId || issuer != Issuer)
                {
                    throw new Exception("Invalid tenantId or issuer.");
                }

                // Get list of all users and info on current logged in user
                users = await GraphServiceClient.Users.Request().GetAsync(); // Use this list to populate
                userInfo = await GraphServiceClient.Me.Request().GetAsync();

                // Setup the selection of receivers for the multiselect component
                DataSource = new List<SelectedItem>();

                foreach (var item in users)
                {
                    SelectedItem option = new SelectedItem(item.Id, item.DisplayName);
                    DataSource.Add(option);
                }

                Items = GenerateDataSource(DataSource);
            }
            catch (Exception ex)
            {
                ConsentHandler.HandleException(ex);
            }
        }
    }

    // Generates the receivers for the multiselect component
    private static List<SelectedItem> GenerateDataSource(List<SelectedItem> source) => source.Select(i => new SelectedItem(i.Value, i.Text)).ToList();

    // Clears selected receivers from multiselect
    private void ClearItems()
    {
        authUserInputModel.OIDReceiver = Array.Empty<string>();
    }

    // Search method for multiselect
    private IEnumerable<SelectedItem> OnSearch(string searchText)
    {
        SearchItemsSource ??= Items;
        return SearchItemsSource.Where(i => i.Text.Contains(searchText, System.StringComparison.OrdinalIgnoreCase));
    }

    // Method which handles form submission
    private async void HandleValidSubmit()
    {
        message = "Encrypting secret...";

        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        authenticated = user.Identity?.IsAuthenticated ?? false;

        // If a user is logged in to the web application
        if (authenticated)
        {
            if (userInfo == null)
            {
                throw new Exception("user cannot be null.");
            }
            // Get the OID of the current user, the sender
            string OIDSender = userInfo.Id;

            // Create user input
            var responseInput = await mediator.Send(new CreateUserInput.Request(authUserInputModel.SecretPlaintext, authUserInputModel.Lifetime, OIDSender, authUserInputModel.OIDReceiver));

            if (responseInput.success)
            {
                // Create UserInputDto
                UserInput userInput = responseInput.userInput;
                UserInputDto userInputDto = new UserInputDto(userInput.Id, userInput.TimeStamp, userInput.Plaintext, userInput.Lifetime, userInput.OIDSender, userInput.OIDReceiver);

                // Encrypt and store data
                var response = await mediator.Send(new EncryptAndSaveSecret.Request(userInputDto));

                if (response.success)
                {
                    id = userInput.Id;
                    url = $"https://bouvet-bastion.azurewebsites.net/{id.ToString()}";
                    StateHasChanged(); // Update state
                }
                else
                {
                    message = "";
                    url = "";
                    DisplayAlert = false; // Change bool to false to display error message
                    StateHasChanged(); // Update state
                }
            }
            else
            {
                message = "";
                url = "";
                DisplayAlert = false; // Change bool to false to display error message
                StateHasChanged(); // Update state
            }
        }
        // User is anonymous and has not logged in
        else
        {
            // Create user input
            var responseInput = await mediator.Send(new CreateUserInput.Request(userInputModel.SecretPlaintext, userInputModel.Lifetime));

            if (responseInput.success) 
            {
                // Create UserInputDto
                UserInput userInput = responseInput.userInput;
                UserInputDto userInputDto = new UserInputDto(userInput.Id, userInput.TimeStamp, userInput.Plaintext, userInput.Lifetime);

                // Encrypt and store data
                var response = await mediator.Send(new EncryptAndSaveSecret.Request(userInputDto));
                if (response.success)
                {
                    id = userInput.Id;
                    url = $"https://bouvet-bastion.azurewebsites.net/{id.ToString()}";
                    StateHasChanged(); // Update state
                }
                else
                {
                    message = "";
                    url = "";
                    DisplayAlert = false; // Change bool to false to display error message
                    StateHasChanged(); // Update state
                }
            }
            else
            {
                message = "";
                url = "";
                DisplayAlert = false; // Change bool to false to display error message
                StateHasChanged();  // Update state
            }
        }
    }

    // Copy to clipboard method
    async Task CopyToClipboard()
    {
        try
        {
            await ClipBoardManager.WriteTextAsync($"{url}");
        }
        catch
        {
            System.Console.WriteLine("Cannot copy text to clipboard");
        }
    }
}